#course-create{
    float: right;
}
#course-create-submit{
    margin-top: 10px;
}

#faculty-create-submit{
    margin-top: 10px;
}
.admin-faculty-image
{
    height: 200px;
    width: auto;
}

.faculty-image{
    height: 150px;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #777777;
}

.faculty-image:hover .faculty-image-data{
    visibility: visible;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.desc{
    padding: 15px;
    text-align: center;
}

.news-image{
    height: 400px;
    width: auto;
}